<mat-dialog-content class="sm:w-[560px]">
  @if (question) {
    <h1 class="!pl-0" i18n="@@ask_question_title_edit" matDialogTitle>Edit your question</h1>
  } @else {
    <h1 class="!pl-0" i18n="@@ask_question_title" matDialogTitle>What do you wanna ask?</h1>
  }
  <form (ngSubmit)="onSubmit()" [formGroup]="questionForm" class="flex flex-col">
    <mat-form-field class="mb-1">
      <mat-label i18n="@@ask_question_label">Type your question...</mat-label>
      <textarea class="!h-24" formControlName="body" matInput></textarea>
      @if (questionForm.controls.body.invalid) {
        <mat-error>{{ getErrorMessage(questionForm.controls.body, bodyErrorMessages) }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field class="sm:w-1/2">
      <mat-label i18n="@@ask_question_category_label">Select the category</mat-label>
      <mat-select formControlName="category">
        @for (category of categories$ | async; track category.name) {
          <mat-option [value]="category.name">{{ category.name | categoryName }}</mat-option>
        }
      </mat-select>
      @if (questionForm.controls.category.invalid) {
        <mat-error>{{ getErrorMessage(questionForm.controls.category, categoryErrorMessages) }}</mat-error>
      }
    </mat-form-field>
    @if (question) {
      <button [disabled]="loading" class="mt-2" i18n="@@ask_question_submit_edit" mat-flat-button type="submit">EDIT</button>
    } @else {
      <button [disabled]="loading" class="mt-2" i18n="@@ask_question_submit" mat-flat-button type="submit">ASK</button>
    }
  </form>
</mat-dialog-content>

