<h1 class="text-center !text-2xl !font-extrabold" i18n="@@register_title" matDialogTitle>Join shiro-questions</h1>
<mat-dialog-content>
  <div class="max-w-[400px] md:min-w-[400px]">
    <h2
      class="text-center !text-lg" i18n="@@register_subtitle"
    >Create an account to receive answers to your questions now</h2>
    <app-user-form [isLogin]="false"></app-user-form>
    <p
      class="pt-5" i18n="@@login_to_register"
    >Don't have an account? <span
      (click)="openNext()"
      class="cursor-pointer text-[--primary] hover:underline"
    >Sign up</span></p>
  </div>
</mat-dialog-content>
