@if (answers.metadata.total > 0) {
  <h4 class="!mt-5" i18n="@@total_answers">Answers ({{ answers.metadata.total }})</h4>
  @for (answer of answers.items; track answer.id) {
    <app-answer-card [answer]="answer"></app-answer-card>
  }
  @if (answers.metadata.total > answers.items.length && !loading) {
    <div class="flex justify-center">
      <button mat-fab (click)="getMoreAnswers()">
        <mat-icon [fontIcon]="Icons.Expand"></mat-icon>
      </button>
    </div>
  }
}
@if (loading) {
  <mat-spinner diameter="50" class="mx-auto"></mat-spinner>
}
