<mat-card appearance="outlined" class="mb-4" [@slideToLeft]="animationState">
  <mat-card-header>
    <img
      [ngSrc]="'https://picsum.photos/seed/' + answer.createdBy + '/100/'"
      alt="Profile picture" height="100"
      i18n-alt="@@profile_picture" mat-card-avatar
      width="100"
    >
    <mat-card-title>{{ answer.createdBy }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p #edited class="whitespace-pre-line text-lg" (keydown.enter)="saveAnswer($event)">{{ answer.body }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button (click)="createUpvote()">
      <mat-icon [fontIcon]="Icons.Upvote"></mat-icon>
      {{ answer.upvotes + upVotesAdded }}
    </button>
    <button mat-button (click)="createDownVote()">
      <mat-icon [fontIcon]="Icons.Downvote"></mat-icon>
      {{ answer.downvotes + downVotesAdded }}
    </button>
    @if (user()?.username === answer.createdBy) {
      <button mat-button type="button" i18n="@@edit" (click)="editAnswer()">Edit</button>
      <button mat-button class="!text-red-700" type="button" i18n="@@delete" (click)="deleteAnswer()">Delete</button>
    }
  </mat-card-actions>
</mat-card>
