<div
  [ngClass]="focused ? 'bg-[--backdrop]' : ''"
  class="pointer-events-none fixed bottom-0 left-0 right-0 top-0 z-10 transition-colors duration-300"
><!-- OVERLAY BACKDROP --></div>
<nav class="sticky top-0 z-20 flex h-14 bg-[--navbar] text-[--primary]">
  <ul
    [ngClass]="focused ? 'pr-4 md:px-4' : 'px-4'"
    class="mx-auto flex h-10 w-full max-w-7xl items-center justify-end self-center transition-all duration-300"
  >
    <!-- LOGO BUTTON -->
    <li [ngClass]="focused ? 'w-0 md:w-12' : 'w-12'" class="mr-4 transition-all duration-300">
      <a [ngClass]="focused ? 'w-0 md:w-12' : 'w-12'" [routerLink]="Paths.Home" class="flex duration-200">
        <mat-icon
          [svgIcon]="Icons.AppLogo" aria-hidden="false" aria-label="Home"
          i18n-aria-label="@@home" inline
        ></mat-icon>
      </a>
    </li>
    <!-- SEARCH -->
    <li class="w-full focus-within:grow">
      <form
        (click)="q.focus()"
        class="flex h-10 items-center rounded-full border-2 border-transparent bg-[--search-bg] transition-all duration-300 focus-within:border-[--primary] hover:bg-[--search-hover] hover:focus-within:bg-[--search-bg]"
      >
        <mat-icon [fontIcon]="Icons.Search" class="mx-1 text-[--search-icon]"></mat-icon>
        <input
          #q (blur)="focused = false" (focus)="focused = true"
          class="w-full rounded-r-full bg-inherit text-[--search-text] placeholder-[--search-placeholder] focus:outline-none"
          i18n-placeholder="@@nav_search" id="q" placeholder="Search questions" type="text"
        />
      </form>
    </li>
    <!-- MENU BUTTON -->
    <li class="ml-4 md:hidden">
      <button
        [matMenuTriggerFor]="focused ? null : menu"
        aria-label="Menu" i18n-aria-label="@@menu"
        title="Menu" i18n-title="@@menu"
        mat-icon-button
        type="button"
      >
        <mat-icon
          [fontIcon]="Icons.Close" [ngClass]="focused ? 'visible opacity-100' : 'invisible opacity-0'"
          class="absolute transition-all duration-300"
        ></mat-icon>
        <mat-icon
          [fontIcon]="Icons.Menu" [ngClass]="focused ? 'invisible opacity-0' : 'visible opacity-100'"
          class="transition-all duration-300"
        ></mat-icon>
      </button>
    </li>
    <li class="ml-4 hidden md:block">
      <button
        class="w-max"
        i18n="@@nav_new_question"
        mat-button type="button"
        (click)="openAskQuestionDialog()"
      >ASK A QUESTION
      </button>
    </li>
    @if (!onLoginPage && !user()) {
      <li class="ml-4 hidden md:block">
        <button
          (click)="openLoginDialog()" class="w-max"
          i18n="@@nav_login" mat-button type="button"
        >LOG IN
        </button>
      </li>
    }
    @if (!onRegisterPage && !user()) {
      <li class="ml-4 hidden md:block">
        <button
          (click)="openRegisterDialog()" class="w-max"
          i18n="@@nav_join" mat-flat-button type="button"
        >JOIN FOR FREE
        </button>
      </li>
    }
    @if (user()) {
      <li class="ml-4">
        <button
          mat-icon-button
          title="Profile" i18n-title="@@profile"
          aria-label="Profile" i18n-aria-label="@@profile"
          type="button"
          [routerLink]="Paths.Profile"
        >
          <mat-icon [fontIcon]="Icons.Account"></mat-icon>
        </button>
      </li>
      <li class="ml-4 hidden md:block">
        <!-- TODO-->
        <button
          class="w-max !text-gray-800"
          i18n="@@nav_logout" mat-button type="button"
        >LOGOUT
        </button>
      </li>
    }
  </ul>
</nav>

<!-- MOBILE MENU -->
<mat-menu #menu="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item (click)="openAskQuestionDialog()">
      <mat-icon [fontIcon]="Icons.Add"></mat-icon>
      <span i18n="@@new_question">Ask a question</span>
    </button>
    @if (!onLoginPage && !user()) {
      <button (click)="openLoginDialog()" mat-menu-item>
        <mat-icon [fontIcon]="Icons.Login"></mat-icon>
        <span i18n="@@login">Log in</span>
      </button>
    }
    @if (!onRegisterPage && !user()) {
      <button (click)="openRegisterDialog()" mat-menu-item>
        <mat-icon [fontIcon]="Icons.Register"></mat-icon>
        <span i18n="@@register">Register</span>
      </button>
    }
    @if (user()) {
      <button mat-menu-item>
        <mat-icon [fontIcon]="Icons.Logout"></mat-icon>
        <!-- TODO-->
        <span i18n="@@logout">Logout</span>
      </button>
    }
  </ng-template>
</mat-menu>
