<div class="w-full h-28 banner"></div>

<nav [tabPanel]="tabPanel" mat-tab-nav-bar>
  <a
    (click)="url = Paths.Profile"
    [active]="url.endsWith(Paths.Profile)"
    i18n="@@profile"
    mat-tab-link
    routerLink="./"
  >Profile</a>
  <a
    (click)="url = Paths.Questions"
    [active]="url.includes(Paths.Questions)"
    [routerLink]="Paths.Questions"
    i18n="@@questions"
    mat-tab-link
  >Questions</a>
</nav>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
<router-outlet></router-outlet>
