<h1 class="text-center !text-2xl !font-extrabold" i18n="@@login_title" matDialogTitle>Welcome again</h1>
<mat-dialog-content>
  <div class="max-w-[400px] md:min-w-[400px]">
    <h2 class="text-center !text-lg" i18n="@@login_subtitle">Get answers to your questions now</h2>
    <app-user-form [isLogin]="true"></app-user-form>
    <p
      class="pt-5" i18n="@@register_to_login"
    >Already have an account? <span
      (click)="openNext()" class="cursor-pointer text-[--primary] hover:underline"
    >Log in</span></p>
  </div>
</mat-dialog-content>
