<mat-card appearance="outlined" [@slideToLeft]="animationState">
  <mat-card-header>
    <img
      [ngSrc]="'https://picsum.photos/seed/' + question.createdBy + '/100/'"
      alt="Profile picture" height="100"
      i18n-alt="@@profile_picture" mat-card-avatar
      width="100"
    >
    <mat-card-title>
      {{ question.createdBy }}
      <mat-icon
        [fontIcon]="question.solved ? Icons.Done : Icons.Pending"
        [ngClass]="question.solved ? 'text-green-700' : 'text-gray-400'"
        [title]="question.solved ? solvedTranslations.Solved : solvedTranslations.Unsolved"
        class="ml-2"
      ></mat-icon>
    </mat-card-title>
    <mat-card-subtitle>
      {{ question.category | categoryName }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <!-- TODO: href -->
    <p class="whitespace-pre-line">{{ question.body }}</p>
  </mat-card-content>
  @if (user()?.username == question.createdBy) {
    <mat-card-actions>
      <button mat-button type="button" i18n="@@edit" (click)="editQuestion()">Edit</button>
      @if (!question.solved) {
        <button
          mat-button
          class="!text-green-700"
          type="button"
          i18n="@@mark_solved"
          (click)="markAsSolved()"
        >Mark as solved</button>
      }
      <button mat-button class="!text-red-700" type="button" i18n="@@delete" (click)="deleteQuestion()">Delete</button>
    </mat-card-actions>
  }
</mat-card>
