@if (onRegisterPage) {
  <div class="mt-10">
    <h1 class="text-center !text-2xl !font-extrabold" i18n="@@register_title">Join shiro-questions</h1>
    <div class="flex justify-center">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </div>
  </div>
} @else {
  <h1 class="text-center !text-2xl !font-extrabold" i18n="@@register_title" matDialogTitle>Join shiro-questions</h1>
  <mat-dialog-content>
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </mat-dialog-content>
}

<ng-template #content>
  <div class="mx-10 max-w-[400px] md:min-w-[400px] sm:mx-0">
    <h2
      class="text-center !text-lg" i18n="@@register_subtitle"
    >Create an account to receive answers to your questions now</h2>
    <app-user-form [isLogin]="false"></app-user-form>
    <p
      class="pt-5" i18n="@@register_to_login"
    >Already have an account? <span
      (click)="openNext()" class="cursor-pointer text-[--primary] hover:underline"
    >Log in</span></p>
  </div>
</ng-template>
